$transition-map:(
  fast: 150ms,
  m-fast: 200ms,
  medium: 250ms,
  medium-s: 300ms,
  slow: 350ms,
);

$animation-time: map-get($map: $transition-map, $key: slow );

@mixin transition {
  transition: map-get($map: $transition-map, $key: m-fast );
  transition-timing-function: ease-in;
}


