/* Color Maps */
$gray-clr-map:(
  100:  hsl(0, 0%, 100%),
  90:   hsl(0, 0%, 90%),
  80:   hsl(0, 0%, 80%),
  70:   hsl(0, 0%, 70%),
  60:   hsl(0, 0%, 60%),
  50:   hsl(0 , 0%, 50%),
  45:   hsl(0, 0%, 45%),
  40:   hsl(0, 0%, 40%),
  35:   hsl(0, 0%, 35%),
  30:   hsl(0, 0%, 30%),
  25:   hsl(0, 0%, 25%),
  20:   hsl(0,0%,20%),
  15:   hsl(0, 0%, 15%),
  10:   hsl(0, 0%, 10%),
  5:    hsl(0, 0%, 5%),
  0:    hsl(0, 0%, 0%),
);

/* $green-clr-map:(
  95:hsl(120, 95%, 95%),
  90:hsl(120, 90%, 90%),
  80:hsl(120, 80%, 80%),
  70:hsl(120, 70%, 70%),
  60:hsl(120, 60%, 60%),
  50:hsl(120, 50%, 50%),
  45:hsl(120, 45%, 45%),
  40:hsl(120, 40%, 40%),
  35:hsl(120, 35%, 35%),
  30:hsl(120, 30%, 30%),
  25:hsl(120, 25%, 25%),
); */

$blue-clr-map:(
  95: hsl(210, 95%, 95%),
  90: hsl(210, 90%, 90%),
  80: hsl(210, 80%, 80%),
  70: hsl(210, 70%, 70%),
  60: hsl(210, 60%, 60%),
  50: hsl(210, 50%, 50%),
  45: hsl(206, 71%, 50%),
  40: hsl(210, 40%, 40%),
  35: hsl(210, 35%, 35%),
  30: hsl(210, 30%, 30%),
  25: hsl(210, 25%, 25%),
);

$adjust-list:(5, 10, 15, 20, 25, 30, 35, 40, 50);

@mixin colorAdjust($map, $key) {
  color: map-get($map: $map, $key: 20);
};

@function getHue ($map, $key) {
  $color:map-get($map, $key);
  @return 
  hue($color)
  saturation($color)
  lightness($color)
}