/* Google Font Playfair Display - all weights */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Google Font Raleway - all weights */
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Google Font Roboto - all weights */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* Google Font Lora - all weights */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');
/* Google Font Oxygen - all weights */
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');
/* Google Font Noto serif - all weights */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Google Arvo - all weights */
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/* Google Lato - all weights */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700&display=swap');
/* Google Work Sans - all weights */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Google Open Sans - all weights */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
/* Google Oswald - all weights */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
/* Google Quattrocento  - all weights */
@import url('https://fonts.googleapis.com/css2?family=Quattrocento:wght@400;700&display=swap');
/* Google Unica One - all weights */
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');
/* Google Crimson - all weights */
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&display=swap');
/* Google Vollkorn - all weights */
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/* Google Dosis - all weights */
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;300;400;500;600;700;800&display=swap');
/* Google Titillium Web - all weights */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600&display=swap');
/* Google Esteban - all weights */
@import url('https://fonts.googleapis.com/css2?family=Esteban&display=swap');



/* 1 - H = Playfair Display, T = Raleway */
$playfair-display: 'Playfair Display', serif;
$raleway: 'Raleway', sans-serif;

$playfair-map:(
  heading:$playfair-display, 
  body:$raleway
  );


/* 1 - H = Roboto Bold, T = Lora Regular */
$roboto: 'Roboto', sans-serif;
$lora: 'Lora', serif;

$lora-map:(
  heading:$roboto,
  body:$lora
  );

/* 1 - H = Oxygen Light, T = Noto Serif Regular */
$oxygen: 'Oxygen', sans-serif;
$noto-serif: 'Noto Serif', serif;

$oxygen-map:(
  heading:$oxygen,
  body:$noto-serif
);

/* 1 - H = Arvo Regular, T = Lato Regular */
$arvo: 'Arvo', serif;
$lato: 'Lato', sans-serif;

$arvo-map:(
  heading:$arvo,
  body:$lato
);

/* 1 - H = Work Sans Light, T = Open Sans Regular */
$work-sans:'Work Sans', sans-serif;
$open-sans:'Open Sans', sans-serif;

$works-sans-map:(
  heading:$work-sans,
  body:$open-sans
);

/* 1 - H = Oswald Regular, T = Quattrocento Regular */
$oswald:'Oswald', sans-serif;
$quattrocento: 'Quattrocento', serif;

$oswald-map:(
  heading:$oswald,
  body:$quattrocento
);

/* 1 - H = Unica one, T = Crimson Text */
$unica-one:'Unica One', cursive;
$crimson-text: 'Crimson Text', serif;

$oswald-map:(
  heading:$unica-one,
  body:$crimson-text
);

/* 1 - H = Vollkorn regular Italic, T = Raleway Medium */
$vollkorn: 'Vollkorn', serif;
// $vollkorn-raleway: $raleway;

$vollkorn-map:(
  heading:$vollkorn,
  body:$raleway
);

/* 1 - H = Dosis Regular, T =  Titillium web regular */
$dosis: 'Dosis', sans-serif;
$tittilium: 'Titillium Web', sans-serif;

$dosis-map:(
  heading:$dosis,
  body:$tittilium
);

/* 1 - H = Oswald Light, T =  Esteban Regular */
// $oswald-esteban: $oswald;
$esteban: 'Esteban', serif;

$estaban-map:(
  heading:$oswald,
  body:$esteban
);

$l-font-weight:("thin": 100, "x-light": 200, "light":300);
$n-font-weight:("regular":400,"medium":500,"semi-bold":600);
$b-font-weight:("bold":700,"x-bold":800,"black":900);

// $h-fonts:()