@use '../base/mixins' as mix;
@use '../base/typo';
@use '../components/buttons';

.section__contact {
  margin-top: calc(10vh + 5vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(10vh);
}

.section__contact-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  justify-content: space-between;
}

input {
  padding:.5em 1em;
  border-radius: 5px;
  position: relative;
  border: 5px solid transparent;
  transition: transform mix.$animation-time ease-in;
  transform-origin: top;
  color: typo.$font-clr;
  position: relative;
  color: typo.$bg-clr;
  
  &::after{
    content: 'Hello';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: red;
  }

  &:hover, &:focus, &:focus-visible {
    transform: scale(1.05);
    transform-origin: top;
    outline: none;
    
  }
}

input::placeholder{
  font-family: map-get($map: typo.$use-map, $key: heading);
  color: typo.$bg-clr;
}

button {
  align-self: center;
  border-radius: 5px;
  padding: 0.5em 1em;
  width: 50%;

}

input + label   {
  margin-top: 2em;
}
input + button {
  margin-top: 2em;
}

