@use '../base/typo';
@use '../abstracts/colors';


.section {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 2em; 
}

.section__hero {
  height: 90vh;
  position: relative;
  z-index: 10;
  justify-content: center;
  // background-color: red;
  clip-path: polygon(0% 0%, 100% 0%, 100% 75%, 75% 100%, 50% 75%, 25% 100%, 0 75%);
  top: 0;
  bottom: -50px;
  h1 {
    font-size: 4em;
  }
  p{
    font-size: 1.2em;
  }
    /* Apply background image to before element helps to apply an overlay to the image so text is readable */

  &::before {
    content: '';
    background-image: url("url:/src/img/Hero.jpg?as=jpg&quality=70&width=1200");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    clip-path: circle(70% at 0% 50%);
  }

  /* After element between before and container to help with text contrast */

  &::after{
    background-color: typo.$section-overlay-clr;
    content: '';
    position: absolute;
    top: 0;
    left: 0; 
    bottom: -200px;
    right: 0;
    z-index: -1; 
    
  }
}

.section__1 {
  height: 100%;
  h2{
    margin-bottom: typo.$margin-b;
  }
  p {
    margin-bottom: typo.$margin-b;
  }
}

.section__2 {
  height: 95vh;
  position: relative;
  z-index: 10;
  justify-content: center;
  h2{
    margin-bottom: typo.$margin-b;
  }
  p {
    margin-bottom: typo.$margin-b;
  }

  /* Apply background image to before element helps to apply an overlay to the image so text is readable */
  &::before {
    content: '';
    background-image: url("url:/src/img/section-2.jpg?as=jpg&quality=70&width=1200");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
  }

  /* After element between before and container to help with text contrast */

  &::after{
    background-color: typo.$section-overlay-clr;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
}

.section__about {
  margin-top: 10vh;
  min-height: 80vh;
}