@use '../base/mixins' as mix;
@use '../base/typo';


.section__contact {
  margin-top: calc(10vh + 5vh);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: calc(10vh);
}

.section__contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-between;
}

input {
  padding:.5em 1em;
  border-radius: 5px;
  position: relative;
  transition: transform mix.$animation-time ease-in;
  transform-origin: top;
  color: typo.$font-clr;
  position: relative;
  color: typo.$bg-clr;
  &:not([type="submit"]){
    width: 80%;
  }
  &:hover, &:focus, &:focus-visible {
    transform: scale(1.05);
    transform-origin: top;
    outline: none; 
  }
}

input::placeholder{
  font-family: map-get($map: typo.$use-map, $key: heading);
  color: typo.$bg-clr;
}





input + label   {
  margin-top: 1em;
}
input + button {
  margin-top: 1em;
}
label + input  {
  margin-top: 1em;
}

.section__success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  h3 {
    margin-top: 2em;
  }
}

.label {
  font-size: 1.2em;
}
